<div class="row ml-2 mt-2">
  <div class="card-deck">
    <div class="card ">
      <div class="card-header text-center">Vitamin A</div>
      <div class="card-body">
        <img src="assets\vi.jpg" width="80px" height="150px" class="d-block mx-auto">
        
      </div>
      <div class="card-footer">
          <h6>Rs.50</h6>
          <button type="submit" class="d-block float-right">cart</button>

      </div>
      
    </div>
    <div class="card " style="margin-left:80px;">
        <div class="card-header text-center">Vitamin B</div>
        <div class="card-body">
          <img src="assets\vi1.jpg" width="80px" height="150px" class="d-block mx-auto">
        </div>
        <div class="card-footer">
            <h6>Rs.50</h6>
            <button type="submit" class="d-block float-right">cart</button>
        </div>
        
      </div>
      <div class="card " style="margin-left:80px;">
          <div class="card-header text-center">Vitamin C</div>
          <div class="card-body">
            <img src="assets\vi2.jpg" width="80px" height="150px" class="d-block mx-auto">
          </div>
          <div class="card-footer">
              <h6>Rs.50</h6>
              <button type="submit" class="d-block float-right">cart</button>
          </div>
          
        </div>
        <div class="card" style="margin-left:80px;">
            <div class="card-header text-center">Vitamin D</div>
            <div class="card-body">
              <img src="assets\vi3.jpg" width="80px" height="150px" class="d-block mx-auto">
            </div>
            <div class="card-footer">
                <h6>Rs.50</h6>
                <button type="submit" class="d-block float-right">cart</button>
            </div>
            
          </div>
          <div class="card" style="margin-left:80px;">
              <div class="card-header text-center">Vitamin H</div>
              <div class="card-body">
                <img src="assets\vi4.jpg" width="80px" height="150px" class="d-block mx-auto">
              </div>
              <div class="card-footer">
                  <h6>Rs.50</h6>
                  <button type="submit" class="d-block float-right">cart</button>
              </div>
              
            </div>
  </div>
</div>
