<div class="container-fluid">
    <!--logo-->
    <div class="row">
      <img src="assets\dy.png" width="300px" height="60px" class="d-block mx-auto">
    </div>
    
    <!--navbar-->
      
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#icon">
                <span class="navbar-togger-icon"></span>
              </button>              
              <div class="collapse" class="navbar-collapse" id="icon">
                <ul class="navbar-nav">
                  <li class="nav-item">
                <a routerLink='caro' class="nav-link ml-3">
                  <img src="assets\log.jpg" width="30px" height="30px" class="rounded-circle">
                </a>
              </li> 
              <li class="nav-item">
                <a routerLink='drug' class="nav-link text-light ml-4">Drug</a>
              </li>
                
                <li class="nav-item">
                    <a routerLink='log' class="nav-link text-light ml-4" >Login</a>
                  </li>

                  <li class="nav-item">
                      <a routerLink='sign' class="nav-link text-light ml-4" >Sign up</a>
                    </li>

                
  
            </ul>
  
          </div>      
      </nav>
    
      <div>
        <router-outlet></router-outlet>
      </div>
      
        <div>
          <section class="homeDownloadApp mt-5">
            <div class="row ">
                <div class=" col-sm-3 text-center">
                    <img title="100% Genuine Products" alt="100% Genuine Products" src="https://static1.medplusmart.com/medplusmart/assets/new_theme/web/images/new/genuine-icn.png?v=8bedd9648626bd70d131668f83452817">
                    <h6>100% Genuine Products</h6>
                </div>
                <div class="col-sm-3 text-center">
                    <img title="Track Your Order" alt="Track Your Order" src="https://static1.medplusmart.com/medplusmart/assets/new_theme/web/images/new/track-order-icn.png?v=958948b4aaaf835119c4972039e4f481" >
                    <h6>Track Your Order</h6>
                </div>
                <div class=" col-sm-3 text-center">
                    <img title="Easy Delivery &amp; Returns" alt="Easy Delivery &amp; Returns" src="https://static1.medplusmart.com/medplusmart/assets/new_theme/web/images/new/delivery-icn.png?v=32328926aeca3b8d86dd861125fc6497" >
                    <h6>Easy Delivery &amp; Returns</h6>
                </div>
                <div class=" col-sm-3 text-center">
                    <img title="Online Cancellations" alt="Online Cancellations" src="https://static1.medplusmart.com/medplusmart/assets/new_theme/web/images/new/cancel-icn.png?v=f996cdc574471e0e8d92f3b2d137ec4e">
                    <h6>Online Cancellations</h6>
                </div>
            </div>
        </section>
        </div>

       
            <div class="jumbotron">
              <h4 style="text-decoration:underline; color:rgb(48, 69, 112);">Contact us</h4>
              
                <h6>We are here to help you 24/7.If you have any problems regarding purchases </h6>
                <p>contactus:1-888-777-5555</p>
                <p>Email us: dyerdrug@hotmail.com</p>
              
            </div>
          
        

      


  </div>
  
  


